{% extends "index.html" %}
{% block articles %}
<!--Print out an article for every vertex-->
<article>
        <div>
            <!--Selected Vertex Image goes here-->
            <img src="http://placekitten.com/g/250/250">
        </div>
        <div>
            <ul>
                <li>
                    <!--Get MS neighbor(s) and their respective image url and edge weight-->
                    <b>Microsoft Similarity </b> to <a href="http://placekitten.com/g/200/250" target="_blank">here</a>: 0.78
                </li>
                <li>
                    <!--Get Reddit neighbor(s) and their respective image url and edge weight-->
                    <b>Reddit Similarity</b> to <a href="http://placekitten.com/g/100/200" target="_blank">here</a>: 0.69
                </li>
                <!--Repeat this as necessary-->
            </ul>
        </div>
    </article>
    <hr>
{% endblock %}