{% extends "index.html" %}
{% block articles %}
<!--Print out an article for every vertex-->
{% for image in image_data.keys() %}
<article>
        <div>
            <!--Selected Vertex Image goes here-->
            <img src="{{image}}">
        </div>
        <div>
            <ul>
                {% for data in image_data[image] %}
                <li>
                    <!--Get MS neighbor(s) and their respective image url and edge weight-->
                    <b>Microsoft Similarity</b> to <a href="{{data[0]}}" target="_blank">here</a>: {{data[1]}}
                </li>
                {% endfor %}
                {% for data in word_data[image] %}
                <li>
                    <!--Get Reddit neighbor(s) and their respective image url and edge weight-->
                    <b>Reddit Similarity</b> to <a href="{{data[0]}}" target="_blank">here</a>: {{data[1]}}
                </li>
                {% endfor %}
                <!--Repeat this as necessary-->
            </ul>
        </div>
    </article>
    <hr>
{% endfor %}
{% endblock %}